
nav {
    padding-left: 50px;
    padding-top: 15px;
    width: 100%;
    overflow: hidden;
    top: 0;
    
}

nav ul li a{
    text-decoration: none;
    font-size: 16pt;
    color: white ;
}
nav ul li {
    display: inline-block;
    padding-left: 40px;
}

nav ul li :hover{
    color: #4682bf;
}
#bigname{
    font-size: 24pt;
    cursor: pointer;
    color: #4682bf;
    
}

.firstinfo {
    margin-left: 90px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    
}
.talking {
    animation:test 40s infinite;
    transform: translateY(100px);  
    
}
@keyframes test {
    10% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}
.intro{
    height: 800px;
    /* background-image: url("/photos/background.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}



.firstinfo p {
    font-family : 'Courier New', Courier, monospace;
    font-size: 12pt;
    color: black;
}
.firstinfo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color : #4682bf;
}

.firstinfo button {
   width: 250px;
   border-radius: 30px;
   height: 50px;
   color: black;
   /* background-image: linear-gradient(to right, rgba(0,0,255,0.4), rgba(255,182,193,0.6)); */
   background-color :#4682bf;
   border-color: lightblue;
   margin-top: 100px;
   margin-right: 20px;
   outline: none;
}
#secondbut{
    background-color : white;
    width: 200px;
}
#firstbut:hover ,#secondbut:hover{
    background-color: pink;
    color: white;
}

.talking {
    padding-top: 40px;
}
.imginfo img {
    margin-left: 40px;
    border-radius: 10px;
    width: 800px;
}

.imageslider {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.imageslider img{
    border-radius: 10px;
    width: 100%;
    height: 750px;
}



.imgoffer img{
    width: 200px;
    height: 230px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    
}

.imgoffer {
    display: inline-block;
    padding: 20px;
    transition: transform 0.8s;
}
.offers{
    margin-left:150px ;
    margin-top: 100px;
}

.imgoffer:hover{
    transform: translateY(-30px) ;
}
.offertitle{
    font-size: 10pt;
    opacity: 0.6;
}
.imgaccessor img{
    width: 200px;
    height: 230px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    
}
.imgaccessor {
    display: inline-block;
    padding: 20px;
    transition: transform 0.8s;
}
.outfit{
    margin-left:150px ;
    margin-top: 100px;
}
.imgaccessor:hover{
    transform: translateY(-30px) ;
}
.accesstitle{
    font-size: 10pt;
    opacity: 0.6;
}
.spanprice{
    font-size: 14pt;
}
.brands{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}
.hoverbrand{
    padding-left: 80px;
}

.hoverbrand:hover{
    cursor: pointer;
    opacity: 0.6;
}


/* .outfit{
    width: 100%;
    height: 400px;
    border: 1px solid black;
} */


.lovecounter {
    margin-bottom: 20px;
}

.movetoRight1{
    float: right;
    margin-right: 50px;
    
}
.movetoRight2{
    float: right;
   
}

#logincolor{
    color: #4682bf;
}

.photoslogo5{
    padding-left: 100px;
}
.liked{
    padding-top: 10px;
    padding-left: 20px;
    color: red;
}
/* .firstinfo{
    background-image: url("/photos/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid black;
    width: 100%;
    margin-left: 0px;
    padding-left: 50px;
    height: 700px;
    margin-top: 0px;
    padding-top: 100px;
} */

.intro{
    background-image: url('/backtest.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.slider{
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    height: 80%;
    overflow: visible;
}
.slide{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.img-holder {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}